html{
	height:100%;
	padding:0px;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:25px;
	height:100%;
	padding:0px;
	margin:0px;
}
#div1,#div2,#div3{
	width:100%;
	height:100%;
	padding-top:50px;
	text-align:center;
}
#containerDiv{
	position:absolute;
	width:100%;
	height:100%;
	overflow:auto;
	z-index:0;
}
#div1{
	background-color:#FA9461;	
	position:relative;
}
#div2{
	background-color:#707070;
	color:white;
	position:relative;
}
#div3{
	background-color:#857FB0;
	color:white;
	position:relative;
}
.animatedImg{
	height:500px;
	visibility: hidden;
}
.header{
	position:fixed;
	top:0px;left:0px;
	width:100%;	
	-webkit-transition: height 0.5s ease,width 0.5s ease,background-color 0.5s ease,color 0.5s linear,font 0.4s;
	-moz-transition: height 0.5s ease,width 0.5s ease,background-color 0.5s ease,color 0.5s linear,font 0.4s;
	color:white;
	z-index:105;
}
#mainLabel{
	margin-left:50px;
	float:left;width:50%;
	height:100%;
	-webkit-transition: font 0.4s linear;
	-moz-transition: font 0.4s ease-out;
}

#mainLabel td{	
	vertical-align:bottom;
}

.transitionBig{	
	height:80px;	
}
.transitionSmall{
	height:40px;
	background-color:black;		
}

.labelBig{
	font-size:35px;	
}
.labelSmall{	
	font-size:25px;
}

.menuTable{
	float:right;
	margin-right:50px;
	height:100%;
}
.menuTable td{
	width:25%;
	padding-left:10px;padding-right:10px;vertical-align:bottom;
	-webkit-transition:background-color 0.5s ease;
	-moz-transition:background-color 0.5s ease;			
}
.menuTable td:hover{
	cursor:pointer;
	background-color:#AAAAAA;
}
.jcarousel-wrapper{
	color:black;
	height:100%;width:100%;
	background-color:none;
}